//
    Created by Administrator on 15-1-23.

doctype html
html
    head
        title 代代
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        link(rel='stylesheet', href='/stylesheets/cut.css')
    body
        div(style="display:block;").page.products-page.live_room.slide-init
            #header
                .head.col-xxs-3.col-xs-2
                    img(src="/images/test_1429245238251.jpg")
                .detail-personal-info.col-xxs-9.col-xs-10
                    .nick-name.col-xxs-6 香港代购
                    .room-num.col-xxs-6 代代号:888888
                    .host-intro.introduce 下单立减哦
                    //.level.col-xxs-5 weix_47828325
                    .attention.col-xxs-7 关注者:
                        span.attention-num 110
                    .qr-code-btn.col-xxs-5 加TA微信
            #cut-body
                H2.fuli-desc 又发福利啦!!
                H3.help-who 我是
                    span.obj #{customer_name}
                    span ,快来帮我砍一刀!
                img(src="/images/test_1429248716888.jpg")#product-img
                H4.product
                    span.product-name #{product_name}
                H5.origin-price 价格:
                    span.price #{price}
                    span 元
                H5.cut-total-since
                    span 已砍
                    span.person-quantity #{cutCount}
                    span 刀，现价
                    span.has-cut-money #{price - cut_money}
                    span 元
                input(type="button" value="帮TA砍一刀")#cut-btn

    script(src="/javascripts/jquery.js")
    script(src="/util/util.js")
    script(src="/javascripts/cut.js")