//
   Created by Administrator on 15-1-23.
//
    相对布局瀑布流


doctype html
html
    head
        title 代代
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/Jplugin/jquery.light-popup/jquery.light-popup.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        link(rel='stylesheet', href='/css/mystyle.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        //link(rel='stylesheet', href='/build/css/af.ui.base.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        style.
            .back_to_add{
                position:fixed;
                right:0;
                top:0;
            }
    body
        div.page.register
        div.page.products-page.live_room.slide-init
            #header
                .head.col-xxs-3.col-xs-2
                    img(src="/images/test_1429245238251.jpg")
                .detail-personal-info.col-xxs-9.col-xs-10
                    .nick-name.col-xxs-6 香港代购
                    .room-num.col-xxs-6 代代号:888888
                    .host-intro.introduce 下单立减哦
                    //.level.col-xxs-5 weix_47828325
                    .attention.col-xxs-7 关注者:
                        span.attention-num 110
                    .qr-code-btn.col-xxs-5 加TA微信
                //.detail-personal-info.col-xxs-9.col-xs-10
                    .room_num 代代号:
                    .cell.col-xxs-12
                        .col-xxs-4 昵称
                        .nickname.col-xxs-6
                        input(type='button' value='编辑').edit-personality.col-xxs-2.remove
                    .cell.col-xxs-12
                        .col-xxs-4 微信账号
                        .weix_account.col-xxs-8
                    .cell.col-xxs-12
                        .col-xxs-4 性别
                        .sex.col-xxs-8
                    .cell.col-xxs-12
                        .col-xxs-4 城市
                        .c-city.col-xxs-8
                //.cell.col-xxs-12.search-group
                    input(type='text' placeholder='商品名称').search-product.col-xxs-8.col-xs-10
                    input(type='button' value='搜索商品').search-btn.col-xxs-4.col-xs-2
            .cell.split-part
                .line
                .text 货架内容已更新
            .cell.col-xxs-12.search-group
                input(type='text' placeholder='商品名称').search-product.col-xxs-8.col-xs-10
                input(type='button' value='搜索商品').search-btn.col-xxs-4.col-xs-2
            ul#vagueProduct
                li
            section().waterfall
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column

            div#tools-box
                div#upload-div-box
                    div#upload-div
                        div#upload
                            i.fa.fa-plus
                            //div.vertical
                            //div.horizon
                a#toMyFav
                    div.myfavorites
                        input(type='button')
                        i.fa.fa-folder
                a#toRoomDoor
                    div.changeRoom
                        input(type='button')
                        i.fa.fa-exchange
                div.favorite


        div.page.publish
            div#upload-panel
                div(role="alert")#warn.alert.alert-warning.fade.in 至少需要发布一张图片
                //div#sub-btn
                //    input(type="button" value="确定")#submit
                .text-group
                    input(type="text" placeholder="商品名称...").product-title
                    textarea(placeholder="详细说点什么吧，让顾客更好的了解您的产品...").product-desc
                div#image_content
                    //.upload-display(style="background:url(http://120.24.224.144/images/test_1430359628167.jpg) center no-repeat;background-size:100%;")
                        .adjustImg
                            i.fa.fa-rotate-right
                .lr-btn-group.col-xxs-12
                    div#cancel-btn.col-xxs-6
                        div
                            i#cancel.fa.fa-times
                    div#sub-btn.col-xxs-6
                        div
                            i#submit.fa.fa-arrow-up
            div#disableClick-mask
            #product-photo-edit
        div.page.product_display.slide-init
            div
                .desc.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                textarea.edit-desc.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                #product.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                    #product-photo.product-photo
                        .img-box
                            img(src="http://120.24.224.144/images/default.jpg")
                #order_info.col-xxs-12
                    .order_quantity.col-xxs-12
                        span 订单数量：
                        //span.sub-order
                        //    i.fa.fa-minus
                        select.qtt_num
                        //span.add-order
                        //    i.fa.fa-plus
                    //.order_remark.col-xxs-12
                    //    span 备注：
                    //    textarea(placeholder='对卖家说点啥要求')
                #take_order.col-xxs-12 下单
                #edit_product.col-xxs-12 编辑
                #edit_product_btn_group.col-xxs-12
                    .edit-sure.col-xxs-12 确定
                    .edit-cancel.col-xxs-12 取消
                a#back-live-room
                    .back-live-room.col-xxs-12
                        .icon-box
                            .icon
                        .text-box TA的代代
            div.stick-width
        div.page.myFavorite
            ul#room-list
        div.page.room_door
            form.door.col-lg-offset-3.col-lg-6.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                div.room_input.col-xxs-12.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
                    input(type="input" placeholder="输入昵称或直播号")#room.col-xxs-9.col-xs-9.col-md-8
                    div.submit-div
                        a.fa.fa-arrow-right
        div.page.personality
        div.page.billSystem
            #order-list
            #pay-list
            #bill-list
                .position.t-col-10
                    .t-col-2.t-col-xs-3
                        input(type="text" placeholder="开始日期" value="" disable=true onclick='laydate({max:laydate.now()})').date#date1
                    .t-col-2.t-col-xs-3
                        input(type="text" placeholder="开始日期" value="" onclick='laydate({max:laydate.now()})').date#date2
                    .t-col-3.t-col-xs-3
                        input(type="text" placeholder="根据买家搜索" value="").search-input#nickname-position
                    .t-col-1.t-col-xs-1
                        input(type="button" value="GO").search-input#search-go
                .bill-list-content
            ul#vagueBox
            div(style='position: fixed;bottom: 100px;')#switchList
                input(type='button' value='预购清单')#to_order.current-list
                input(type='button' value='收款列表')#to_pay
                input(type='button' value='总账单')#to_bill
        div.page.getpay#getpay
            .getpay-title
                span.collection_object
                span 的账单
                .share-tip
                    i.fa.fa-hand-o-up
                    p 分享给买家
            .table
                .t-row.t-row-header
                    .t-col.t-col-2 品名
                    .t-col.t-col-2 数量
                    .t-col.t-col-2 备注
                    .t-col.t-col-2 价格
                    .t-col.t-col-2 总计
            .mail-detail
                - if (isMailFree)
                    span 包邮
                - else
                    span 邮费:
                    span #{mailPay}
            .total-price
                span 合计：
                span.money #{total}
                span.money-type rmb
            input(type='button' value='回到账单')#backtobill
        div.page.contact-page
            div.curr-product
        //div(style='position:fixed;top:10px;right:10px;')
        //    a(href='#billSystem') 账单系统
        div#uploading-mask
        div#loading
        div(data-orderstatus='#{orderStatus}')#forTakeOrder
        #light-popup.light-popup
            div
                span 币种：
                select#exchange-type
                    option(value='2' selected) 港币
                    //option(value='1') 人民币
                    //option(value='3') 美元
                span 汇率
                    span.rate-desc (兑人民币)
                    span ：
                input(type='text' value='0.82')#recharge-rate
            div
                span 金额：
                input(type='text')#money-input
                //span 折扣：
                //input(type='text' value=10)#discount
            .btn-group
                input(type='button' value='取消')#input-cancel
                input(type='button' value='确定')#input-sure
            //.test-audio
                input(type='button' value='录音')#record-start
                input(type='button' value='停止')#record-end
        #host-info.light-popup
            div.col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 昵称
                div.col-xxs-7
                    input#nickname(type='text',data-type='nickname',value='')
            .col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 简介
                div.col-xxs-7
                    textarea#introduce(type='text',data-type='introduce',value='',palceholder='说点啥介绍一下呗...')
            div.col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 微信账号
                .col-xxs-7
                    input(type='text',data-type='weix_account',value='')#weix_account
            div.col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 性别
                .col-xxs-7
                    select#sex
            div.col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 城市
                .col-xxs-7
                    input(type='text',data-type='city',value='')#city
            div.col-xxs-12
                span.col-xxs-3.col-xxs-offset-2 国家
                .col-xxs-7
                    input(type='text',data-type='country',value='')#country
            .btn-group.col-xxs-12
                input(type='button',value="取消").input-cancel
                input(type='button',value="确定").input-sure
        #qr-code.light-popup.customer
            img.qr-code-img(src="/images/qr-code.png")
            div.no-upload-qrcode 主人很懒，二维码都没留下
            #upload-qr-code.upload-qr-code
            p#re-upload.re-upload 重新上传
            .detail-info
                .di_weix_account
                    span 微信号：
                    span.account_num weix_478283225
                .sex
                    span 性别：
                    span.sex_desc 男
                .region
                    span 地区：
                    span.region_desc 浙江台州
            .long-tap-tip 长按扫码添加代手微信

script(src="/javascripts/jquery.js")
script(src="/touchUtil.js")
//script(src="/javascripts/libs/jquery.mobile.custom.js")
//script(src="/javascripts/preloadImg.js")
//script(src="/javascripts/waterfall_relative.js")
//script(src="/javascripts/ajaxupload.js")
script(src="/javascripts/libs/require/require.js" data-main="/jqr.js")
