//
   Created by Administrator on 15-1-27.

doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(href="/stylesheets/bootstrap-grid.css" rel="stylesheet")
        style.
           body{
               background:rgba(230,230,230,1);
               padding-right: 3px;
               padding-left: 3px;
           }
           #product{
               margin-bottom:35px;
               padding-left: 0px;
               padding-right: 0px;
           }
           .desc{
               background-color: rgba(200, 30, 40, 1);
               /* text-align: center; */
               padding: 6px;
               /* margin-top: 8px; */
               /* position: fixed; */
               /* top: 0; */
               z-index: 1;
               width: 100%;
               color: white;
               margin-top: 3px;
           }
           .product-photo{
               width: 100%;
               /*margin-top:40px;*/
           }
           .img-box{
               /*padding:3px;*/
               background:white;
               margin-top:8px;
           }
           .img-box:first-child{
               margin-top: 3px;
           }
           .product-photo img{
               width: 100%;
           }
           .back-live-room{
               text-align:center;
                padding: 6px 12px;
                text-decoration: none;
                color: white;
                position: fixed;
                bottom: 0;
            }
           .back-live-room a{
               color: white;
               font-weight: bolder;
           }
           .back-live-room .icon-box{
               width: 48px;
               height: 48px;
               background: rgba(200,30,40,1);
               padding: 14px;
               border-radius: 25px;
               margin: auto;
           }
           .back-live-room .icon{
               border: 3px solid #ffffff;
               border-radius: 7px;
               width: 98%;
               height: 70%;
               position: relative;
               border-left: none;
               border-bottom-left-radius: 0;
               border-top-left-radius: 0;
               top: 3px;
               left: 2px;
           }
           .back-live-room .icon:before{
               content: "";
               position: absolute;
               width: 0;
               height: 0;
               border: 6px solid transparent;
               border-right: 6px solid white;
               top: -7px;
               left: -11px;
            }



    body
        -if (!product)
            #product 当前内容已经被发布者删除
        -else
            - if(product.text)
                .desc #{product.text}
            #product.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12

                .product-photo
                    -if (product.image_url && product.image_url.length)
                        each url,i in product.image_url
                            .img-box
                                img(src="http://120.24.224.144/images/#{url}")
            - if (u_type)
                a(href="/we_account/live-room?room_id=#{product.room_id}&u_type=#{u_type}")
                    .back-live-room.col-xxs-12
                        返回直播间
            - else
                a(href="/we_account/live-room?room_id=#{product.room_id}")
                    .back-live-room.col-xxs-12
                        .icon-box
                            .icon
